
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Passion+One&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

h1, h2{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}


body{
    background:#62A59C;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color:#faad41a8 ; 
}

div{
    font-weight: 900;
    text-decoration: overline;
}
header{
    background: #FAAE41;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.158);
}

img{
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.158);
}

figcaption{
    padding: 10px;
    font-size: small;

}

p{
    text-align: justify;
}

footer{
    background-color:#FAAE41;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.158);
}
