
/*  
Amarelo 1: #febe01
Amarelo 2: #332200

preto: #111
cinza: #b2b2b2

*/

*{
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    text-align: center;
}

.blackbox{
    background: #111;
    color: white;
    margin: 40px;
    padding: 10px;
    border-radius: 4px;
}

button{
    background-color: #febe01;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
}

p{
    color: #b2b2b2;
    margin: 10px;

}

h2{
    margin: 10px;
}

strong{
    color: #febe01;
    border: none;
}